{
  "prod": {
    "id": "prod",
    "name": "Rancher PROD",
    "baseUrl": "https://rancher.prod.example.com",
    "token": "${ENV:RANCHER_TOKEN_prod}",
    "insecureSkipTlsVerify": false
  },
  "lab": {
    "id": "lab",
    "name": "Rancher LAB",
    "baseUrl": "https://rancher.lab.example.com",
    "token": "${ENV:RANCHER_TOKEN_lab}"
  }
}
